.faq-page {
    text-align: center; clear: both;background: url(img/city.jpg) no-repeat center center scroll !important; 
}

.masthead {
    background: url(img/city2.jpg) no-repeat center center scroll !important; 
}