.faq-page {
    background: url(../img/parallax/city.jpg) no-repeat center center scroll !important;
    background-size: cover !important; 
}

.masthead {
    background: url(../img/parallax/city2.jpg) no-repeat center center scroll !important; 
    background-size: cover !important; 
}

.info-container {
    background: url(../img/parallax/blue.jpg) no-repeat center center scroll !important;
    background-size: cover !important;
  }


#mainlogo {
    animation: none !important;
    transform: translateY(-25px);
}