a {
    color: #b8d3d1;
    font-family: 'CircularStd';
}

:root {
    --animate-delay: 0.2s;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Black.woff') format('woff'), url('../fonts/CircularStd-Black.ttf') format('truetype'), url('../fonts/CircularStd-Black.svg#CircularStd-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow-x: hidden;
    scrollbar-color: pink #000000;
    /* scroll thumb & track */
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: initial;
}

::-webkit-scrollbar-track {
    background: #000000;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: pink;
    /* color of the scroll thumb */
}

a:hover {
    color: #c0e8f9;
    text-decoration: none;
    cursor: pointer;
}

.text1 {
    color: #c0e8f9;
    /* font-family: 'CircularStd'; */
    margin-top: 100px;
    /* animation: backInUp;
    animation-duration: 1s; */
}

.text2 {
    color: #c0e8f9;
    /* font-family: 'CircularStd'; */
    margin-top: 20px;
}

.menu-bar {
    float: right;
    width: 70%;
    height: 100px;
}

.menu-link {
    padding: 26px 20px 5px 10px;
    color: #b8d3d1;
    float: right;
}

.menu-name {
    padding: 26px 0px 5px 30px;
    width: 30%;
    color: #b8d3d1;
    float: left;
}

.menu-bar-hidden {
    display: none;
}

#menu-down {
    display: none;
}

.header {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 10;
}

@media (max-width: 900px) {
    .menu-name {
        font-size: 30px;
        padding: 20px 0px 5px 15px;
    }
    .menu-link {
        padding: 5px 20px 0px 1000px;
        color: #b8d3d1;
        float: right;
        font-size: 23px;
    }
    #menu-down {
        display: block;
        color: #b8d3d1;
        font-size: 53px;
        margin-left: 90%;
        padding: 0px 20px 0px 0px;
        position: absolute;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
    .menu-bar-hidden {
        display: none;
        float: right;
        width: 140px;
        height: 260px;
        padding-top: 80px;
        background: rgba(0, 0, 0, 0);
    }
    .menu-bar {
        display: none;
    }
}

h1 {
    color: #b8d3d1;
}

.title-container {
    padding-top: 30vh;
    z-index: 30;
}

.title-right {
    color: #ce7b91 !important;
}

.title-left {
    color: #B8D3D1 !important;
}

.main-title {
    font-size: 8vw;
    font-family: 'CircularStd';
}

.main-title:hover {
    animation-duration: 1s;
}

.prof {
    width: 30vw;
}

.faq-page {
    width: 100vw;
    padding-left: 20vw;
    padding-right: 20vw;
}

.title-right:hover {
    cursor: text;
}

.halfnhalf:before {
    content: "Theta";
    color: #c0e8f9;
}

.halfnhalf:after {
    content: "Hacks";
    color: #CE7B91;
}

.slidefadeleft {
    float: left;
}

.slidefaderight {
    float: right;
}

.prof {
    opacity: 0;
}

.proftitle {
    font-family: 'CircularStd';
    color: gainsboro;
}

.desc {
    color: gainsboro;
}

.q {
    text-align: center;
    clear: both;
}

.navbar.scrolled {
    background-color: #0c0c0c75;
    transition: background 500ms;
}