a {
  color: #5bbee6;
  font-family: Montserrat;
}

.navbar-brand {
  font-family: "CircularSTD";
}

body {
  font-size: 1.1rem !important;
  background-color: black;
}

h3 {
  font-size: 1.5rem !important;
}

:root {
  --animate-delay: 0.2s;
}

::-moz-selection {
  background: rgba(206, 123, 145, 0.7);
}

#infopagelink {
  font-size:1.5rem;
  margin-left: 20px;
  margin-right: 20px;
}

::selection {
  background: rgba(206, 123, 145, 0.7);
}

.main-title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 18vh;
}

.nav-link {
  float: right;
  font-size: 1.2rem;
  z-index: -1 !important;
}

.main-title:hover {
  cursor: default;
}

.directors {
  display: flex;
  flex-direction: row;
  padding: 0vw 20vw;
  margin: 2vw 0vw 2vw 0vw;
}

.everyone-else {
  display: flex;
  flex-direction: row;
  padding: 0vw 18.5vw;
}

figure {
  width: 20vw;
}

.prof {
  display: absolute;
}

.figure-e {
  width: 25vw;
}

.figure-image {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  border: 0.3vw solid #eeeeee;
  transition: transform 0.3s ease-out;
  max-width: 250px;
  max-height: 250px;
}

.figure-image:hover,
.figure-image-e:hover {
  transform: scale(1.05);
}

.row100:hover {
  background-color: #404060 !important;
}

.figure-image-e {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  border: 0.3vw solid #eeeeee;
  transition: transform 0.3s ease-out;
  max-width: 200px;
  max-height: 200px;
}

.speakers figure {
  
}

.figure-caption {
  color: lightgray;
  font-size: 1.2rem !important;
}

.figure-caption-e {
  color: lightgray;
  font-size: 1rem !important;
  margin-bottom: 0.2rem;
}

.figure-caption-e2 {
  color: rgb(182, 182, 182);
  font-size: 0.8rem !important;
  margin-bottom: 0.1rem;
}

.figure-caption-title {
  margin-top: 20px;
  color: white;
  font-size: 1.4rem !important;
}

.figure-caption-title-e {
  margin-top: 20px;
  color: white;
  font-size: 1.2rem !important;
  margin-bottom: 0rem;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CircularStd-Black.woff") format("woff"),
    url("../fonts/CircularStd-Black.ttf") format("truetype"),
    url("../fonts/CircularStd-Black.svg#CircularStd-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: hidden !important;
  overflow-y: auto !important;
  scroll-behavior: smooth;
}

.row {
  min-height: 40px;
}

#schedule-section {
  height: 850px;
  padding: 5vh 0vh 5vh 0vh;
}

#title-i {
  font-size: 8.5rem;
}

@media (max-width: 1100px) {
  .main-title {
    font-size: 12vw !important;
  }

  #title-i {
    font-size: 12vw !important;
  }

  .main-logo {
    width: 50px !important;
    margin-bottom: -50px !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
  }

  #about-section {
    padding: 5vh 10vw 5vh 10vw !important;
  }

  .prev {
    transform: translateY(-50px) translateX(-40px) !important;
  }
  .next {
    transform: translateY(-50px) translateX(40px) !important;
  }
  .quote {
    padding: 0px 10px !important;
  }
}

@media (max-width: 500px) {
  .main-logo {
    width: 30px !important;
    margin-bottom: -100px !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
  }
}

.stuf1 {
  display: inline-table;
  padding: 20px 60px;
  min-width:700px;
}

#about-section {
  padding: 5vh 20vw 5vh 20vw;
}

.infodiv {
  text-align: left;
}

#ul-1,
#ul-2,
#ul-3 {
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: left;
}

#events {
  padding: 5vh 10vw;
  background: #101020;
}

.info-container {
  text-align: center;
}

a:active,
a:focus {
  outline: 0 !important;
  border: none !important;
  -moz-outline-style: none !important;
  outline-style: none !important;
}


@media (max-width: 500px) {
  .stuf1 {
    min-width: 0 !important;
  }
}


.fa-external-link-alt {
  font-size: 1.2rem !important;
  margin-left: 5px;
}

.container {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.nav-link {
  font-family: "CircularSTD" !important;
  font-size: 20px;
}

@media (max-width: 992px) {
  .col-md-6 {
    min-width: 80vw;
  }
  .stuf1 {
    font-size: 0.8rem !important;
  }
  .text3 {
    font-size: 0.8rem !important;
  }


  #infopagelink {
    font-size:1.1rem !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .fa-external-link-alt {
    font-size: 0.8rem !important;
  }
  .prof {
    width: 90vw !important;
  }
  .prof {
    padding: 5px 0;
  }
  body {
    font-size: 1rem !important;
  }
  h3 {
    font-size: 1.2rem !important;
  }
  .gb {
    padding: 4px 16px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    margin: 10px 10px;
  }
  .figure-caption-title {
    font-size: 1.3rem !important;
  }
  .figure-caption {
    font-size: 1.2rem !important;
  }
  figure {
    width: 25vw;
  }
  .figure-e {
    width: 25vw;
  }
  .figure-image {
    width: 20vw;
    height: 20vw;
  }
  .figure-image-e {
    width: 14vw;
    height: 14vw;
  }
  .directors {
    padding: 0vw 12.5vw;
  }
  /* .speakers {
    padding: 0vw 12.5vw;
  } */
  .everyone-else {
    padding: 0vw 5vw;
  }
  .navbar-brand,
  .navbar-toggler {
    font-size: 1.5rem !important;
  }
  .nav-link {
    font-size: 1rem !important;
  }
  .layer2 {
    padding: 4vh 0vh 30px 0vh !important;
  }
}

#ssssc {
  min-height: 760px;
}

.sponsor {
  width: 250px !important;
  margin: 5% 2% !important;
}

.sponsor-row {
  max-width: 80vw;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sponsor-row > :not(:only-child) {
  padding: 1rem;
}

.sponsor-row > a {
  display: flex;
  justify-content: center;
  flex: 1 calc(240px + 7 * 1vw);
}

.sponsor-row > a > img {
  transition: transform 0.5s, filter 0.5s;
  object-fit: contain;
}

#sponsors-sec img {
  max-height: calc(30px + 4 * 1vw);
  max-width: auto;
}

#sponsor-list {
  margin-left: 13%;
  margin-right: 13%;
}

@media (max-width: 1460px) {
  #sponsor-list {
    margin-left: 0%;
    margin-right: 0%;
  }
}

.layer2 {
  padding: 4vh 0vh 40px 0vh;
}

@media (max-width: 1000px) {
  .sponsor {
    width: 175px;
  }
}

.speakers {
  display: flex;
  flex-direction: row;
  /* padding: 0vw 20vw; */
  margin: 10px 0vw 10px 0vw;
  justify-content: center;
}

.gb {
  box-shadow: 2px 5px 10px #101030;
  margin-top: 30px;
}

.gb:hover {
  box-shadow: 5px 10px 10px #101030;
}

#title-navbar-left {
  margin-left: 70px;
  font-size: 30px;
  position: absolute;
  transform: translateY(-20px);
}

.faq-page {
  text-align: center;
  clear: both;
  background: url(../img/parallax/city.jpg) no-repeat center center fixed;
  background-size: cover;
}

#copyright-wrapper {
  padding: 2vh 20vw 2vh 20vw;
  margin-bottom:-3vh;
}

#title-navbar-right {
  color: #ce7b91;
  font-size: 30px;
  transform: translateY(-20px) translateX(170px);
  position: absolute;
}

.masthead {
  min-height: 100vh;
  background: url(../img/parallax/city2.jpg) no-repeat center center fixed;
  background-size: cover;
}

.navbar-brand:hover {
  color: #b8d3d1;
}

.fa-bars {
  transform: translateY(2px);
}

.layer {
  background-color: #101020cc;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.layer2 {
  background-color: #101020cf;
}

#navbar-other-title {
  font-size: 28px;
}

@media (max-width: 700px) {
  #title-navbar-left {
    margin-left: 10px !important;
    font-size: 20px !important;
    transform: translateY(-12px) translateX(45px) !important;
  }
  #title-navbar-right {
    transform: translateY(-12px) translateX(122px) !important;
    font-size: 20px !important;
  }
  #navbar-other-title {
    font-size: 18px !important;
  }
  #mainlogo {
    height: 30px !important;
    margin-bottom: 0px !important;
    position: absolute;
    margin-top: 10px;
  }
  .prof {
    padding: 5px 0;
  }
  .sponsor {
    width: 100px;
  }
  .gb {
    padding: 2px 12px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    margin: 10px 5px;
  }
  .figure-caption-title {
    font-size: 0.9rem !important;
  }
  .figure-caption {
    font-size: 0.7rem !important;
  }
  .figure-caption-e {
    font-size: 0.6rem !important;
  }
  .figure-caption-e2 {
    font-size: 0.5rem !important;
  }
  .figure-caption-title-e {
    font-size: 0.8rem !important;
  }
  .cell100,
  th {
    font-size: 0.8rem !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  .table100 {
    padding-top: 30px !important;
  }
  #ssssc {
    min-height: 460px !important;
  }
}

a.hyperlink {
  display: block;
  position: relative;
  top: -5vh;
  visibility: hidden;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: white !important;
  font-weight: bold;
  padding: 5px;
  font-size: 50px;
  transition: 0.3s ease;
  border-radius: 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0 !important;
  transform: translateY(-50px) translateX(-100px);
}

.next {
  right: 0 !important;
  transform: translateY(-50px) translateX(100px);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #999 !important;
}

.highlight {
  transform: scale(1.1);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

span.active,
.dot:hover {
  background-color: #4d4d4d;
}

/* Fading animation */
.fade3 {
  -webkit-animation-name: fade3;
  -webkit-animation-duration: 1.5s;
  animation-name: fade3;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade3 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade3 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

a:hover {
  color: #7fb2cc;
  text-decoration: none;
  cursor: pointer;
}

.text1 {
  color: #c0e8f9;
  margin-top: 22vh;
}

.text2 {
  color: #c0e8f9;
  margin-top: 20px;
}

.text3 {
  color: #c0e8f9;
  margin-top: 30px;
  font-size: 1.2rem;
}

.menu-bar {
  float: right;
  width: 70%;
  height: 100px;
}

#copyright {
  font-size: 1rem;
  color: #b8d3d1;
  text-align: center;
  margin-bottom: 0;
}

.menu-link {
  padding: 26px 20px 5px 10px;
  color: #b8d3d1;
  float: right;
}

.menu-name {
  padding: 26px 0px 5px 30px;
  width: 30%;
  color: #b8d3d1;
  float: left;
}

.menu-bar-hidden {
  display: none;
}

#menu-down {
  display: none;
}

.header {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: 10;
}

h1 {
  color: #b8d3d1;
}

.title-page {
  padding-bottom: 100px;
}

.main-logo {
  margin: -16.5vh 50px 0vh 50px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .main-logo {
    filter: blur(0px);
    object-fit: contain;
    width: 60px;
  }
}

.title-container {
  padding-top: 2vh;
  z-index: 30;
}

.nav-link,
.navbar-brand {
  color: #b8d3d1 !important;
}

.title-right {
  color: #ce7b91 !important;
}

.title-left {
  color: #b8d3d1 !important;
}

.main-title {
  font-size: 9rem;
  font-family: "CircularSTD";
  font-weight: 300;
}

.main-title:hover {
  animation-duration: 1s;
}

.prof {
  width: 35vw;
  margin-bottom: 15px;
}

.social-logo {
  max-height: 60px;
  max-width: 60px;
  height: 5vw;
  min-height: 35px;
  margin: 2% 20px;
  transition: transform 0.3s ease-out;
  display: inline-block;
}

.social-logo:hover {
  transform: translateY(-5px);
}

.social-logo-2 {
  max-width: 250px;
  width: 20vw;
  min-width: 150px;
  transition: transform 0.3s ease-out;
  display: inline-block;
}

.social-logo-2:hover {
  transform: translateY(-5px);
}

@media (max-width: 530px) {
  .social-logo {
    margin: 2% 10px;
  }
}

.proftitle span {
  margin-left: 12px;
  display: inline-block;
  color: inherit;
  transition: transform 0.3s ease-out;
}

.faq-page {
  width: 100vw;
}

.title-right:hover {
  cursor: text;
}

.halfnhalf:before {
  content: "Theta";
  color: #c0e8f9;
}

.halfnhalf:after {
  content: "Hacks";
  color: #ce7b91;
}

.slidefadeleft {
  float: left;
}

.slidefaderight {
  float: right;
}

.slidefadeleft:nth-child(odd) {
  animation-duration: 0.6s;
}

.slidefaderight:nth-child(odd) {
  animation-duration: 0.6s;
}

.prof {
  opacity: 0;
}

.proftitle {
  cursor: pointer;
  font-family: "CircularStd";
  color: gainsboro;
}

.proftitle:hover {
  color: #bbb;
}

.desc {
  color: gainsboro;
  display: block;
  overflow: hidden;
  margin-bottom: 0px;
  transition: all 0.3s ease-out;
}

.q {
  text-align: center;
  clear: both;
}

.scrolled {
  background-color: #0c0c0ce8;
  transition: background 1.5s;
}

.un-scrolled {
  background-color: rgba(0, 0, 0, 0);
  transition: background 1.5s;
}

.questionLink {
  color: rgb(71, 91, 179);
  font-family: inherit;
}

a.questionLink:hover {
  text-shadow: none;
}

.attendee {
  margin-top: 4vh;
  display: inline-block;
}

.mentor {
  margin-top: 2vh;
  display: inline-block;
}

.path {
  stroke: white;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

table {
  min-width: 470px !important;
}

#show-faq-button {
  color: gainsboro;
  font-family: monospace;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  display: inline-block;
  margin-left: 20px;
  transition: transform 0.5s ease-out;
  transform: rotate(90deg);
}

#daystamp {
  opacity: 1 !important;
}

#timestamp {
  opacity: 1 !important;
}

pre {
  margin: 0;
  padding: 0;
  display: inline;
}

.leftarrow {
  cursor: pointer;
  color: gainsboro;
  font-size: 2rem;
  margin-right: 2%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: 100;
  transition-duration: 0.1s;
}

.leftarrow:hover {
  color: gray;
}

.rightarrow {
  cursor: pointer;
  color: gainsboro;
  font-size: 2rem;
  margin-left: 2%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: 100;
  transition-duration: 0.1s;
}

.rightarrow:hover {
  color: gray;
}

#day {
  font-family: Montserrat;
  color: gainsboro;
  font-size: 2rem;
  margin-bottom: 1%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.arrow-container {
  position: absolute;
  left: 1%;
  transition: all 1s ease-in-out;
}

.path-container {
  position: absolute;
  left: 0;
}

#timestamp {
  color: gainsboro;
  position: absolute;
  top: 21px;
  opacity: 0;
  animation-duration: 1s;
  transition: all 1s ease-in-out;
}

.column2 {
  font-family: Montserrat !important;
  font-weight: normal !important;
}

.column1 {
  font-family: Montserrat !important;
}

#daystamp {
  color: gainsboro;
  position: absolute;
  top: 0vh;
  opacity: 0;
  animation-duration: 1s;
  transition: all 1s ease-in-out;
}

.svg-container {
  margin-left: 15vw;
  position: absolute;
}

.schedule {
  margin-right: 15vw;
  float: right;
}

div.table100-head {
  background-color: #6c7ae0;
}

div.table100 {
  background-color: #202030;
}

table.schedule1 {
  background-color: #202030;
}

.discord {
  /* filter: grayscale(0%); */
  filter: grayscale(0%);
}

.attendee {
  filter: grayscale(0%);
  /* filter: grayscale(100%); */
}

.mentor {
  filter: grayscale(0%);
  /* filter: grayscale(100%); */
}

@media (max-width: 1500px) {
  .schedule {
    margin: 0vh 10vw !important;
  }
  .svg-container {
    margin-left: 10vw !important;
  }
}

@media (max-width: 1300px) {
  .svg-container {
    margin-left: 5vw !important;
  }
}

@media (max-width: 1130px) {
  .svg-container {
    transform: scaleX(0.9);
  }

  .svg-container {
    margin-left: 0vw !important;
  }
}

@media (max-width: 992px) {
  .schedule {
    float: none;
  }
  #schedule-section {
    height: auto !important;
    padding-bottom: 60px !important;
  }
  .svg-container {
    display: none;
  }
  table {
    min-width: 300px !important;
  }
  #copyright {
    font-size: 0.7rem !important;
  }

  #copyright-wrapper {
    padding: 2vh 5vw 2vh 5vw;
  }
}

.quote {
  background-color: #202030;
  padding: 0px 50px;
  border-radius: 20px;
  width: auto;
  display: inline-block;
  box-shadow: 5px 10px 10px #05051077;
  transition: transform 0.1s ease-out;
}

.quote:hover {
  transform: translate(-2px, -2px);
  box-shadow: 5px 10px 10px #050510;
}

@keyframes spin {
  from {
    transform: translateY(-23px) rotateY(0deg);
    z-index: -1 !important;
  }
  to {
    transform: translateY(-23px) rotateY(360deg);
    z-index: -1 !important;
  }
}

#mainlogo {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 50px;
  position: absolute;
  z-index: -1 !important;
}

.swal-modal .swal-text {
  text-align: center;
}

.personal {
  margin-left: 2%;
  margin-right: 2%;
}

.speakers figure {
  margin-top: 2vh;
}

/* ? super hot underline animation */
.underline {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
.underline:hover {
  color: #ffffff;
}
.underline:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7fb2cc;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
/* ? super hot underline animation end */
